<section class="form col-md-10">
  <%= form_for [:admin, @page] do |f| %>
    <ul class="select">
      <label>Mother</label>
      <%= f.collection_select :mother, @collection, :id, :title, include_blank: true, class: "form-control" %>
    </ul>
    <ul class="text-field">
      <label>Title</label>
      <%= f.text_field :title, class: "form-control", placeholder: "Insert page title here" %>
    </ul>
    <ul class="text-area">
      <label>Content</label>
      <%= f.text_area :content, class: "form-control", placeholder: "Insert content page here" %>
    </ul>
    <ul class="submit">
      <%= f.submit "Publish", class: "btn btn-primary" %>
    </ul>
  <% end %>
</section>

